<form name="classForm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label for="nameInput">Name:</label>
                <input id="nameInput" type="text" ng-model="currentClass.name">
            </div>
            <div class="col-md-6">
                <label>Name:</label>
                {{currentClass.course.name}}
            </div>
        </div>

        <div class="row">
            <label for="descriptionInput">Description for students:</label>
            <input id="descriptionInput" type="text" ng-model="currentClass.description">
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Start date:</label>
                <div ng-date ng-model="currentClass.startDate" date-format="{{dateFormat}}"></div>
            </div>

            <div class="col-md-6">
                <label>End date:</label>
                <div ng-date ng-model="currentClass.endDate" date-format="{{dateFormat}}"></div>
            </div>
        </div>

        <div>
            <button id="addStudentBtn" ng-click="addStudent()">Add</button>
            <button id="deleteStudentBtn" ng-click="deleteStudents()">Delete</button>
            <div id="studentsGrid">
                <div class="studentsGrid" ng-grid="studentsDataGrid"></div>
            </div>
        </div>
    </div>
</form>