
<div id="singleClassDiv" ng-controller="singleClassController">
    <tabset>
        <tab heading="Class settings">
            <div ng-include="'app/pages/classes/single-class/single-class-settings.html'"></div>
        </tab>
        <tab heading="Running applications">
            <div ng-include="'app/pages/classes/single-class/single-class-apps.html'"></div>
        </tab>
    </tabset>

    <div class="row">
        <div class="col-lg-3">
            <button ng-click="save()">Save</button>
        </div>
        <div class="col-lg-3">
            <button ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>