<form name="classForm" class="form-horizontal" role="form">
    <div class="form-box">
        <div class="form-group">
            <div class="col-md-6">
                <label for="nameInput" class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-9">
                    <input id="nameInput" type="text" ng-model="currentClass.name" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-sm-3 control-label">Course:</label>
                <div class="col-sm-9"><div class="form-control mock-disabled-input">{{currentClass.course.name}}</div></div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label for="descriptionInput"  class="col-sm-3 control-label">Description:</label>
                <div class="col-sm-9">
                    <input id="descriptionInput" type="text" class="form-control" ng-model="currentClass.description">
                </div>
            </div>
            <div class="col-md-6">
                 <label class="col-sm-3 control-label"><i class="icon-calendar "></i> Start date:</label>
                <div class="col-sm-3"><ng-date ng-model="currentClass.startDate" placeholder="Pick Date" date-format="{{dateFormat}}"/></div>

         <label class="col-sm-3 control-label"><i class="icon-calendar"></i> End date:</label>
                <div class="col-sm-3"><ng-date ng-model="currentClass.endDate" placeholder="Pick Date" date-format="{{dateFormat}}"/></div>


            </div>
        </div>
    </div>
    <div>
        <button id="addStudentBtn" class="btn" ng-click="addStudent()"><i class="icon-plus"></i> Add</button>
        <button id="deleteStudentBtn" class="btn" ng-click="deleteStudents()"><i class="icon-trash"></i>Delete</button>
        <div id="studentsDataGridDiv" class="grid-table">
            <div id="studentsDataGrid" ng-grid="studentsDataGrid"></div>
        </div>
    </div>

</form>