<div id="allBlueprintsDiv">
    <h3>Select Blueprints for Course</h3>
    <div id="allBlueprintsDataGridDiv">
        <div id="allBlueprintsDataGrid" ng-grid="allBlueprintsDataGrid"></div>
    </div>
    <div class="row btns-ok-cancel">
        <button ng-click="ok()" class="btn btn-success btn-sm">
            <i class="fa fa-check"></i> OK
        </button>
        <button ng-click="cancel()" class="btn btn-danger btn-sm">
            <i class="fa fa-times"></i> Cancel
        </button>
    </div>
</div>