<div id="setPasswordDiv">
    <h3>Set password</h3>

    <div class="row">
        {{viewModel.inlineMessage}}
    </div>

    <br/>

    <form name="passwordForm">
        <div class="form-group" ng-init="password = '';">
            <label for="passwordInput">Password</label>
            <input type="text" class="form-control" id="passwordInput" ng-model="viewModel.password">
        </div>
        <div class="row btns-ok-cancel">
            <button id="okBtn" class="btn btn-success" ng-click="ok()">OK</button>
            <button id="cancelBtn" class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>