<div class="container-fluid header-container">
    <div class="header">
        <h1 class="header-title">Training Portal</h1>
        <div class="powered-by text-right"><span class="ravello-logo">Powered by Ravello Systems</span></div>
    </div>
</div>
 <div id="loginDiv" class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="loginForm" class="form-horizonta">
                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input type="text" class="form-control" id="usernameInput" ng-model="username" autofocus="true">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" ng-model="password">
                </div>
                <div class="row">
                        <button id="loginBtn" class="btn btn-default" ng-click="login()">Login</button>
                </div>

                <br/>

                <div>
                    <alert ng-repeat="errorMessage in loginErrorMessages" type="danger">{{errorMessage}}</alert>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="col-md-4"></div>
</div>
