
<div id="coursesDiv" class="container">
    <div>
        <form name="coursesForm">
            <div class="form-horizontal form-box">
                <span class="block-title">Course Details</span>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="nameInput" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input id="nameInput" type="text" ng-model="currentCourse.name" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="descriptionInput" class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10">
                            <input id="descriptionInput" type="text" ng-model="currentCourse.description" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div id="courseBlueprintsDiv" class="form-box">
                <div>
                    <span class="block-title">Blueprints</span>
                    <span>The blueprints chosen below will be used to create private environments for each student taking this course.</span>
                </div>

                <button id="addBlueprintBtn" class="btn btn-default" ng-click="addBlueprint()">
                    <i class="fa fa-plus"></i> Add
                </button>
                <button id="deleteBlueprinttBtn" class="btn btn-default" ng-click="deleteBlueprints()">
                    <i class="fa fa-trash-o"></i> Delete
                </button>

                <div id="blueprintsDataGridDiv" class="grid-table">
                    <div id="blueprintsDataGrid" ng-grid="blueprintsDataGrid"></div>
                </div>
            </div>
        </form>
        <div class="row pull-right">
            <div save-and-cancel approve-label="Save" cancel-label="Back"
                 approve-func="save" cancel-func="back">
            </div>
        </div>
    </div>
</div>