
<div>
    <div id="classAppsDiv" class="form-box class-apps">
        <span class="block-title">Applications</span>

        <button id="createAppBtn" class="btn btn-success" ng-click="createApps()" ng-disabled="isCreateDisabled()">
            <i class="fa fa-rocket"></i> Create app
        </button>
        <button id="deleteAppBtn" class="btn btn-danger" ng-click="deleteApps()" ng-disabled="isDeleteDisabled()">
            <i class="fa fa-trash-o"></i> Delete app
        </button>
		<button id="startAppBtn" class="btn btn-default" ng-click="startApps()" ng-disabled="isStartDisabled()">
			<i class="fa fa-play"></i> Start app
		</button>
        <button id="stopAppBtn" class="btn btn-default" ng-click="stopApps()" ng-disabled="isStopDisabled()">
            <i class="fa fa-stop"></i> Stop app
        </button>
        <button id="autostopAppBtn" class="btn btn-default" ng-click="autoStopApps()" ng-disabled="isAutoStopDisabled()">
            <i class="fa fa-clock-o"></i> Auto-stop app
        </button>
        <button id="exportCsvBtn" class="btn btn-default" ng-click="exportAppsToCsv()" ng-disabled="isExportCsvDisabled()" ng-if="showExportCsv()">
            <i class="fa fa-file-text-o"></i> Export to CSV
        </button>
		<button id="refreshBtn" class="btn btn-default pull-right" ng-click="refreshState(true)">
			<i class="fa fa-refresh"></i> Refresh
		</button>

        <div id="appsDataGridDiv" class="class-apps-data-grid-div">
            <div class="row selected-rows-count">
                <span>{{viewModel.selectedApps.length}} apps selected</span>
            </div>
            <div id="appsDataGrid" class="class-apps-data-grid" ng-grid="viewModel.appsDataGrid"></div>
        </div>
    </div>

    <hr>

    <button id="backBtn" class="btn btn-default pull-right" ng-click="back()">
        <i class="fa fa-arrow-left"></i> Back
    </button>
</div>
