
.class-apps {
    background-color: #F7F7F7;
}

.class-apps-data-grid-div {
    margin-top: 15px;
}

.class-apps-data-grid {
    height: 300px;
}

.selected-rows-count {
    height: 25px;
    margin-bottom: 10px;
}

.auto-stop-form {
    margin-top: 22px;
}