
<div id="bpPermissionsDiv">
    <h3>Permissions</h3>
    <div class="row bp-permissions-row">
        <div class="col-md-3">
            <label for="startVmsInput">Start VMs&nbsp;&nbsp;</label>
            <input id="startVmsInput" type="checkbox" ng-model="viewModel.bpPermissions.startVms">
        </div>
        <div class="col-md-3">
            <label for="stopVmsInput">Stop VMs&nbsp;&nbsp;</label>
            <input id="stopVmsInput" type="checkbox" ng-model="viewModel.bpPermissions.stopVms">
        </div>
        <div class="col-md-3">
            <label for="restartVmsInput">Restart VMs&nbsp;&nbsp;</label>
            <input id="restartVmsInput" type="checkbox" ng-model="viewModel.bpPermissions.restartVms">
        </div>
        <div class="col-md-3">
            <label for="consoleInput">Console&nbsp;&nbsp;</label>
            <input id="consoleInput" type="checkbox" ng-model="viewModel.bpPermissions.console">
        </div>

        <div class="clearfix"></div>

        <div class="row btns-ok-cancel">
                <button ng-click="ok()"class="btn btn-success btn-sm">
                    <i class="fa fa-check"></i>OK
                </button>
                <button ng-click="cancel()"class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>Cancel
                </button>
        </div>
    </div>
</div>