
<div class="container">
    <h2 class="page-title">Trainers</h2>
    <div id="trainersDiv" class="admin-trainers">
        <button id="addTrainerBtn" class="btn btn-default" ng-click="addTrainer()">
            <i class="fa fa-plus"></i> Add
        </button>
        <button id="deleteTrainerBtn" class="btn btn-default" ng-click="deleteTrainers()">
            <i class="fa fa-trash-o"></i> Delete
        </button>
        <div id="trainersDataGridDiv" class="trainers-data-grid-div">
            <div id="trainersDataGrid" class="trainers-data-grid" ng-grid="trainersDataGrid"></div>
        </div>
    </div>
</div>