<div id="setPasswordDiv">
    <h3>Set password</h3>

    <div class="row password-explanation">
        {{viewModel.inlineMessage}}
    </div>

    <br/>

    <form name="passwordForm">
        <div class="form-group">
            <label for="passwordInput" class="control-label">Password:</label>
            <input type="password" class="form-control" id="passwordInput" ng-model="viewModel.password">
        </div>
        <div class="form-group">
            <label for="passwordConfirmInput" class="control-label">Confirm password:</label>
            <input type="password" class="form-control" id="passwordConfirmInput" ng-model="viewModel.confirmedPassword">
        </div>
        <div class="form-group ok-btn-explanation">
            <span>{{getOkButtonExplanation()}}</span>
        </div>
        <div class="row btns-ok-cancel">
            <button id="okBtn" class="btn btn-success" ng-click="ok()" ng-disabled="isOkDisabled()">OK</button>
            <button id="cancelBtn" class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>