<div>
    <div class="container-fluid header-container">
        <div class="header">
            <h1 class="header-title">Training Portal</h1>


            <ul class="main-nav">
                <li><a ui-sref="admin.profile" class="dropdown">Admin</a>
                    <ul class="submenu">
                        <div class="submenu-wrapper">
                            <div class="submenu-links">
                                <li><a href="" ng-click="navigateToProfile()">Profile</a></li>
                                <li><a href="" ng-click="navigateToTrainers()">Trainers</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>

            <div class="table-cell text-right">
                <button id="logoutBtn" class="btn btn-default btn-sm" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>Logout
                </button>
            </div>
            <div class="powered-by text-right"><span class="ravello-logo">Powered by Ravello Systems</span></div>
        </div>
    </div>
    <div ui-view></div>
</div>


