body {
    background-color: #F7F7F7;
}
html, body {
    height: 100%;
}
.ngGrid {
    background-color: transparent;
}
#mainAppDiv {
    height: 100%;
    width: 100%;
}

/** Admin trainers */

#trainersDiv {
    height: 100%;
    width: 100%;
}

#trainersDataGridDiv {
    margin-top: 20px;

}

#trainersDataGrid {
    height: 300px;
}

/* Classes */

#classesDiv {
    height: 100%;
    width: 100%;
}

#classesDataGridDiv, #coursesDataGridDiv {
    margin-top: 20px;

}
#studentAppsDiv {
    margin-top: 20px;
}
#classesDataGrid {
    height: 300px;
}

#coursesDataGrid {
    height: 300px;

}

/* Single class */

#classStudentsDiv {
    background-color: #F7F7F7;
}

#classStudentsDiv > span {
    margin-bottom: 20px;
}

#studentsDataGrid {
    height: 300px;

}

#classAppsDiv {
    background-color: #F7F7F7;
}

#appsDataGridDiv {
    margin-top: 20px;
}

#appsDataGrid {
    height: 300px;
}

/* Single student */

#studentBlueprintsDiv {
    background-color: #F7F7F7;
}

#studentBlueprintsDiv > span {
    margin-bottom: 20px;
}

#bpPermissionsDataGrid {
    height: 300px;

}

/* Single course */

#courseBlueprintsDiv {
    background-color: #F7F7F7;
}

#courseBlueprintsDiv > div:first-of-type {
    margin-bottom: 20px;
}

#blueprintsDataGrid {
    height: 300px;

}

/* Add blueprints popup */

.allBlueprintsPopup .modal-dialog {
    width: 900px;
}

.allBlueprintsPopup .modal-content {
    height: 750px;
}

#allBlueprintsDataGrid {
    min-height: 600px;
    width: 100%;
}

/* Student in class */

#studentAppsDataGird {
    height: 300px;

}

#studentVmsDataGird {
    height: 300px;

}

/* VM Details */
.header-container {
    background-color: #232323;
}
.header {
    height: 50px;
    display: table;
    margin: 0 auto 62px;
}
@media (min-width: 768px) {
    .header, .submenu-wrapper {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .header, .submenu-wrapper {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .header, .submenu-wrapper {
        width: 1170px;
    }
}
.header-title {
    /*background: transparent url(../images/ravello-logo-small.png) no-repeat center left scroll;*/
    background: transparent url(../images/default_logo.png) no-repeat center left scroll;
    padding-left: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 22px;
    width: 28%;
}
.header-filler {
    display: table-cell;
    width: 25%
}
.main-nav {
    float: left;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
}
.main-nav li a {
    padding: 0 10px;
    color: white;
}
.main-nav li a:hover, .main-nav li a:hover {
    color: #ffe403;
    text-decoration: none;
}
.submenu {
    width: 100%;
    left: 0;
    position: absolute;
    background-color: #0898de;
    text-align: center;
    display: block;
    height: 42px;
    z-index: 1;
    top:50px;
    padding: 0;
}
.submenu-wrapper {
    margin: 0 auto;
    height: 42px;
}

.submenu-links {
    padding-left: 25%;
}
.submenu li {
    float: left;
    line-height: 42px;
    height: 42px;
    list-style: none;
}
.submenu li a {
    color: white;
}
a.dropdown {
    position: relative;
    display: block;
}
a.dropdown:after{
    content: "";
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom: 8px solid #0898de;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -11px;
}
.mock-disabled-input {
    border-color:#FFF;
    box-shadow: none;
    color: #9B9B9B;
}
.nav-tabs {
    margin-bottom: 25px;
}
.nav-tabs > li > a:hover {
    cursor: pointer !important;
}
.nav-tabs > li.active > a:hover {
    cursor: default !important;
}
.grid-table {
    margin: 25px 0;
}
.row {
    margin-left:auto ;
    margin-right:auto ;
}
.form-box {
    background: #F0F0F0;
    margin: 15px 0;
    border-radius: 3px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.form-box .form-group:last-child {
    margin-bottom: 0;
}
.form-box h3 {
    margin-top: 0;
    font-size: 20px;
}
.panel-body.form-box {
    border-top-left-radius: 0;
    border-top-right-radius:0 ;
    margin: 0;
}
h3.panel-title {
    font-size: 20px !important;
}
.panel-default > .panel-heading {
    background-image: none;
    background-color:#F0F0F0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
#accordion {
    margin-bottom: 15px;
}
.accordionGroup {
    background-color: #F0F0F0;
}
#rav-default-check {
    margin-top: 10px;
}
.modal-content>div>h3:first-child {
    margin-top: 0;
}
.modal-content {
    padding: 1.7em;
}
.btns-ok-cancel {
    margin-top: 15px;
}
.spacer {
    margin-top: 35px;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}
.form-box, .panel-heading {
    padding: 15px;
}
.ravello-logo{
    background: transparent url(../images/ravello-logo-small.png) no-repeat center left scroll;
    padding-left:20px;
    background-size: contain;
}
.small-padding-no-bullet {
    list-style: none;
    padding-left: 20px;
}
hr {
    border-top: 1px solid #DDD;
}
.powered-by, .student-name {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-style: italic;
    font-size: 12px;
    width: 20%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.rav-default-user-lbl {
    padding-left: 0px;
    padding-right: 7px;
}

/* Growl style */

.growl {
    position: absolute;
    right: 0;
    float: none;
    width: 100%;
}
.growl-item {
    position: absolute;
    width: 20%;
    left: 50%;
    margin-left: -10%;
    top: 0;
    z-index: 101;
    box-shadow: 0px 0px 6px #232323;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition:1s linear all;
    -moz-transition:14s linear all;
    -o-transition:14s linear all;
    transition:1s linear all;
}

/* Password */

.password-control {
    height: 34px;
    position: relative;
}
.password-div {
    position: absolute;
    top: 20%
}

.block-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

div > span.block-title {
    margin-bottom: 10px;
    display: block;
}

.panel-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

