<div class="container">
    <h2 class="page-title">Courses</h2>
    <div id="coursesDiv">
        <div>
            <button id="addCourseBtn" class="btn btn-default" ng-click="addCourse()">
                <i class="fa fa-plus"></i> Add
            </button>
            <button id="deleteCoursesBtn" class="btn btn-default" ng-click="deleteCourses()">
                <i class="fa fa-trash-o"></i> Delete
            </button>
            <div id="coursesDataGridDiv" class="courses-data-grid-div">
                <div id="coursesDataGrid" class="courses-data-grid" ng-grid="coursesDataGrid"></div>
            </div>
        </div>
    </div>
</div>