
#mainAppDiv {
    height: 100%;
    width: 100%;
}

#mainPanelDiv {
    height: 100%;
    width: 100%;
}

#classesDiv {
    height: 100%;
    width: 100%;
}

#classesGrid {
    height: 800px;
    width: 400px;
}

.classesGrid {
    height: 300px;
    width: 800px;
}

.studentsGrid {
    height: 300px;
    width: 800px;
}

.bpPermissionsGrid {
    height: 300px;
    width: 800px;
}

.appsGrid {
    height: 300px;
    width: 800px;
}
