
/* Main */

#mainAppDiv {
    height: 100%;
    width: 100%;
}

/* Classes */

#classesDiv {
    height: 100%;
    width: 100%;
}

#classesDataGridDiv {
    height: 800px;
    width: 800px;
}

#classesDataGrid {
    height: 300px;
    width: 800px;
}

/* Courses */

#coursesDataGridDiv {
    height: 800px;
    width: 800px;
}

#coursesDataGrid {
    height: 300px;
    width: 800px;
}

/* Single class */

#studentsDataGrid {
    height: 300px;
    width: 800px;
}

#appsDataGridDiv {
    height: 800px;
    width: 800px;
}

#appsDataGrid {
    height: 300px;
    width: 800px;
}

/* Single student */

#bpPermissionsDataGrid {
    height: 300px;
    width: 800px;
}

/* Single course */

#blueprintsDataGrid {
    height: 300px;
    width: 800px;
}

#allBlueprintsDiv {
    width: 1200px;
    height: 600px;
}

#allBlueprintsDataGrid {
    height: 300px;
    width: 550px;
}

#allBlueprintsDataGridDiv {
    height: 500px;
    width: 1200px;
}

/* Student in class */

#studentAppsDataGird {
    height: 300px;
    width: 800px;
}

#studentVmsDataGird {
    height: 300px;
    width: 800px;
}

/* VM Details */

#vmDetailsDiv {
    height: 400px;
    width: 400px;
}
