@font-face {
  font-family: 'training';
  src: url('../font/training.eot?31265315');
  src: url('../font/training.eot?31265315#iefix') format('embedded-opentype'),
       url('../font/training.woff?31265315') format('woff'),
       url('../font/training.ttf?31265315') format('truetype'),
       url('../font/training.svg?31265315#training') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'training';
    src: url('../font/training.svg?31265315#training') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "training";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok:before { content: '\e802'; } /* '' */
.icon-undo:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e80b'; } /* '' */
.icon-left-big:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e80d'; } /* '' */
.icon-stop:before { content: '\e80e'; } /* '' */
.icon-floppy:before { content: '\e807'; } /* '' */
.icon-terminal:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */