
.icon-ok:before { content: '\e803'; } /* '' */
.icon-undo:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-minus:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-arrows-cw:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-stop:before { content: '\e800'; } /* '' */
.icon-floppy:before { content: '\e80b'; } /* '' */
.icon-terminal:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */