<div id="studentSingleAppDiv" class="container">
    <div class="row">
        <div class="col-lg-1">
            <button id="startBtn" class="btn btn-success" ng-click="startVms()" ng-disabled="startButtonDisabled()">
                <i class="fa fa-play"></i> Start
            </button>
        </div>
        <div class="col-lg-1">
            <button id="stopBtn" class="btn btn-danger" ng-click="stopVms()" ng-disabled="stopButtonDisabled()">
                <i class="fa fa-stop"></i> Stop
            </button>
        </div>
        <div class="col-lg-2">
            <button id="restartBtn" class="btn btn-info" ng-click="restartVms()" ng-disabled="restartButtonDisabled()">
                <i class="fa fa-rotate-right"></i> Restart
            </button>
        </div>
        <div class="col-lg-8 text-right">
            <button id="refreshBtn" class="btn btn-default"  ng-click="refreshState()">
                <i class="fa fa-refresh"></i> Refresh
            </button>
        </div>
    </div>
    <div class="row spacer"></div>
    <div id="studentVmsDataGird" class="student-vms-data-grid" ng-grid="studentVmsDataGird"></div>
    <div class="col-lg-1">
        <button id="backBtn" class="btn btn-default" ng-click="back()">
            <i class="fa fa-arrow-left"></i> Back to Apps
        </button>
    </div>
</div>
