<div id="vmDetailsDiv">
    <div class="row">
        <h4>{{selectedVm.name}}</h4>
        <hr>
    </div>
    <ul class="small-padding-no-bullet">
        <li ng-show="selectedVm.hostnames.length > 0"><label>Hostname: </label> {{hostnames()}}</li>
        <li><label ng-show="selectedVm.description">Description: </label> {{selectedVm.description}}</li>
    </ul>
    <div class="row spacer">
        <h4>External Access</h4>
        <hr>
    </div>
    <ul class="small-padding-no-bullet">
        <li ng-repeat="dns in dnsWithExternalServices" style="list-style: none;">
            <h5><label>DNS:</label> {{dns.name}}</h5>
            <h5 style="font-weight: bold">Available Services:</h5>
            <ul>
                <li ng-repeat="service in dns.services">
					<label class="text-uppercase">{{service.name}}</label> (Port {{service.externalPort}})
					<a href="{{getServiceGoLink(dns, service)}}" target="_blank" class="service-go-link" ng-if="showServiceGoLink(service)">Go!</a>
				</li>
            </ul>
        </li>
    </ul>
    <div class="row spacer">
        <button class="btn btn-success" id="okBtn" ng-click="ok()">
            <i class="fa fa-check"></i> OK
        </button>
    </div>
</div>