<div class="panel panel-default">
    <div class="panel-body">
        <form role="loginForm">
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input type="email" class="form-control" id="usernameInput" placeholder="Enter username"
                       ng-model="username">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password"
                       ng-model="password">
            </div>
        </form>
    </div>
</div>
