<div class="container">
<h2>Classes</h2>
<div id="classesDiv" class="trainer-classes">
    <div>
        <button id="addClassBtn" class="btn btn-default" ng-click="addClass()">
            <i class="fa fa-plus"></i> Add
        </button>
        <button id="deleteClassesBtn" class="btn btn-default" ng-click="deleteClasses()">
            <i class="fa fa-trash-o"></i> Delete
        </button>
        <div id="classesDataGridDiv" class="classes-data-grid-div">
            <div id="classesDataGrid" class="classes-data-grid" ng-grid="classesDataGrid"></div>
        </div>
    </div>
</div>
</div>